body {
    background-color: #F8EDE3;
    text-align: center;
}

h1 {
    color: #85586F;
    padding: 50px;
    font-family: 'Bree Serif', serif;
    font-size: 50px;

}

div {
    padding-left: 20px;
    font-family: 'Bree Serif', serif;
    font-size: large;
    color: #85586F;
}

.btn {
background-color: #DFD3C3;
}

.table {
padding: 20px;
margin-top: 50px;
}
thead {
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    background-color: #85586F ;
    color: #DFD3C3;
}